<p>
  <div class="dropdown pull-right">
    <a class="dropdown-toggle" href="javascript:void(0)" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Language
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
      <li><a href="#">Chinese</a></li>
      <li><a href="#">Dutch</a></li>
      <li><a href="#">English</a></li>
      <li><a href="#">French</a></li>
      <li><a href="#">German</a></li>
      <li><a href="#">Greek</a></li>
      <li><a href="#">Italian</a></li>
      <li><a href="#">Japanese</a></li>
      <li><a href="#">Korean</a></li>
      <li><a href="#">Portuguese</a></li>
      <li><a href="#">Russian</a></li>
      <li><a href="#">Spanish</a></li>
    </ul>
  </div>
  <span class="pull-left">
    <i class="fa fa-fw fa-map-marker"></i>6696 Clark Road Paradise, CA 95969
    &nbsp;&middot;&nbsp;
    <i class="fa fa-fw fa-phone"></i>(530) 872-6400
    </span>
  <div class="clearfix"></div>
</p>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobileMenu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse" id="mobileMenu">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Our Mission & Our Goals</a></li>
            <li><a href="#">Board of Trustees</a></li>
            <li><a href="#">Budget</a></li>
            <li><a href="#">LCFF & LCAP</a></li>
            <li><a href="#">Negotiations</a></li>
            <li><a href="#">Paradise Scholarship Foundation</a></li>
            <li><a href="#">Safe Schools</a></li>
            <li><a href="#">Williams v. State of CA</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schools & Programs<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Elementary & Intermediate</li>
            <li><a href="#">Cedarwood Elementary School</a></li>
            <li><a href="#">Paradise Elementary School</a></li>
            <li><a href="#">Pine Ridge School</a></li>
            <li><a href="#">Ponderosa Elementary School</a></li>
            <li><a href="#">Paradise Intermediate School</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">High Schools</li>
            <li><a href="#">Paradise High School</a></li>
            <li><a href="#">Ridge View High School</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Charter & Learning Programs</li>
            <li><a href="#">Paradise eLearning Charter Academy</a></li>
            <li><a href="#">Honey Run Academy</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Small Community Learning</li>
            <li><a href="#">Creekside 6</a></li>
            <li><a href="#">Evergreen 6</a></li>
            <li><a href="#">Fusion</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departments <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Cirriculum & Instruction</a></li>
            <li><a href="#">Financial Services</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Food Services</li>
            <li><a href="#">Nutrition Resources</a></li>
            <li><a href="#">Wellness Policy</a></li>
            <li><a href="#">School Meals in Action</a></li>
            <li><a href="#">Summer Feeding Program</a></li>
            <li><a href="#">Smart Snacks & Competitive Foods</a></li>
            <li><a href="#">Classroom Party Information</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Human Resources</a></li>
            <li><a href="#">Maintenance & Operations</a></li>
            <li><a href="#">Special Services</a></li>
            <li><a href="#">Technology Services</a></li>
            <li><a href="#">Transportation</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Staff Resources</li>
            <li><a href="#">Certificated Info</a></li>
            <li><a href="#">Classifieds</a></li>
            <li><a href="#">Employee Online<i class="fa fa-fw fa-sign-in"></i></a></li>
            <li><a href="#">Forms</a></li>
            <li><a href="#">Medical Benefits</a></li>
            <li><a href="#">Safety & Risk Management</a></li>
            <li><a href="#">Salary Schedules</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Parent Resources</li>
            <li><a href="#">Aeries.NET<i class="fa fa-fw fa-sign-in"></i></a></li>
            <li><a href="#">Calendars</a></li>
            <li><a href="#">Complaint Procedures</a></li>
            <li><a href="#">Enrollment & Registration</a></li>
            <li><a href="#">Forms & Handbooks</a></li>
            <li><a href="#">Health Information</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </li>
        <li><a href="#">Directory</a></li>
      </ul>
    </div>
  </div>
</nav>
