<ul class="list-unstyled list-inline">
  <li>
    <a href="#" target="_blank">
      <i class="fa fa-fw fa-linkedin-square fa-lg"></i><span class="hidden-xs">LinkedIn</span>
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      <i class="fa fa-fw fa-twitter-square fa-lg"></i><span class="hidden-xs">Twitter</span>
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      <i class="fa fa-fw fa-facebook-square fa-lg"></i><span class="hidden-xs">Facebook</span>
    </a>
  </li>
  <li>
    <a href="#" target="_blank">
      <i class="fa fa-fw fa-google-plus-square fa-lg"></i><span class="hidden-xs">Google+</span>
    </a>
  </li>
</ul>
